*{
    box-sizing: border-box;
}
h1, h2{
    text-align: center;
}
nav{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #FFBF86;
    border-radius: 5px;
}
.home a{
    display: inline-block;
    padding: 1em;
}
.home a:hover{
    color: #fff;
}
a{
    text-decoration: none;
    color: #544179;
}
.admin{
    display: inline-block;
    margin-left: 1em;
}
.shopping-basket{
    order: 2;
    display: flex;
}
.shopping-cart{
    position: relative;
}
.btn-supprime{
    margin-right: 1em;
}
.nb-product{
    position: absolute;
    right: 32%;
    top: 50%;
    color: rgb(156, 21, 21);
    font-weight: 800;
    font-size: 1.5em;
}
#deleteBtn{
    float: right;
}

input, select, textarea{
    border-radius: 3px;
    background-color: rgb(241, 239, 229);
    border: 1px solid rgb(195, 228, 130);
    cursor: pointer;
    font-size: 1.5em;
}
label{
    font-size: 1.3em;
}
label, th{
    color: rgb(255, 243, 221);
}
.submit, input, .texte, select{
    color: #544179;
    padding: 0.4em;
}

#message{
    text-align: center;
}

form{
    width: 50vw;
    margin: auto;
    background-color: #FFBF86;
    padding: 1em;
    border-radius: 5px;
}

form input, form textarea{
    width: 100%;

}
#formulaire{
    max-width: 1200px;
    margin: auto;
    background-color: cadetblue;
    padding: 1em;
    border-radius: 5px;
}
.success{
    background-color: rgb(129, 255, 157);
    color: rgb(22, 78, 25);
}
.error{
    background-color: rgb(255, 134, 134);
    color: rgb(78, 22, 22);
}
.notice{
    background-color: rgb(134, 211, 255);
    color: rgb(23, 22, 78);
}
table{
    text-align: center;
    font-size: 1.5em;
    background-color: #FFBF86;
    border: solid 5px #544179;
    border-collapse: collapse;
    width: 1200px;
    margin: auto;
}

#message{
    padding: 1em;
    font-size: 1.5em;
    width: 1200px;   
    margin: auto;
    border-radius: 5px;
}

td, th{
    padding: 0.8em;
    border: 1px solid #544179;
}
th{
    padding: 0.5em 1.5em;
}
.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.product{
    margin: auto;
    padding: 0.5em;
    border: 0px solid brown;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}
.product-info{
    width: 70%;
    margin: auto;
    padding: 0.5em;
    border: 2px solid brown;
    text-align: center;
    border-radius: 5px;
}

#modal{
    display: none;
    position: fixed;
    width: 50vw;
    top: 25vh;
    left: 25vw;
    background: red;
    color: #fff;
    padding: 1em;
    box-shadow: 0 0 100px #000;
}
#modal-actions{
    display: flex;
    justify-content: space-around;
}


#gallery img{
    width: 801px;
    height: 410px;
}
li{
    font-size: 1.5em;
    padding: 1em;
}